@charset "UTF-8";

/***** Fonts *****/
@font-face {
	font-family: QuicksandRegular;
	src: url(../fonts/quicksand/Quicksand-Regular.otf);
}

@font-face {
	font-family: QuicksandBold;
	src: url(../fonts/quicksand/Quicksand-Bold.otf);
}

@font-face {
	font-family: BrushScript;
	src: url(../fonts/brushscript.ttf);
}

@font-face {
	font-family: RalewayBold;
	src: url(../fonts/Raleway-Bold.otf);
}

@font-face {
	font-family: Charcoal;
	src: url(../fonts/Charcoal.ttf);
}

@font-face {
    font-family: 'LatoRegular';
    src: url('../fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-Regular.ttf') format('truetype'); 
    font-style: normal;
    font-weight: normal;
}

/***** BLANK DOCUMENT SETUP *****/
* {
  	font-family: 'DrawnBody', Arial, Helvetica, sans-serif;
  	font-size: 1.05em;
  	color: #2B2B2B;
 	margin: 0;
 	padding: 0;
}

html {
	height: 100%;
	width: 100%;
}

body {
	height: 86.1%;
  	text-align: center;
  	background-color: #EF7E17;
}

/***** Navigation *****/
.container-fluid {
	height: 100px;
}

.navbar-default {
	background-color: #EF7E17;
	border-color: #EF7E17;
}

.nav-icons {
	width: 30px;
	height: 30px;
}

.nav-text {
	font-size: 0.8em;
	font-family: QuicksandBold;
	display: none;
}

.navbar-nav a:hover .nav-icons {
	width: 20px;
	height: 20px;
}

.navbar-nav a:hover .nav-text {
	display: block;
}

.navbar-nav{
	float: none;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	-display: inline-block;
	width: 320px;
}

.navbar-nav li{
	display: inline;
	margin-right: 5%;
	float: left;
	width: 90px;
	height: 70px;
}

.navbar-nav li a {
	padding-top: 15px;
	padding-bottom: 15px;
	border: 2px solid black;
	border-radius: 50px;
}

.navbar-nav a:hover {
	text-decoration: none;
	background-color: #FFF !important;
	border-radius: 50px;
	padding-top: 10px;
	width: 90px;
	height: 64px;
	transition: .5s background-color;
}

.navbar-nav a:active {
	background-color: #FFF !important;
	color: #444 !important;
	cursor: pointer !important;
}

#logo-icon {
	width: 100px;
	height: 100px;
}

#logo-style {
	padding: 0px 10px 0px 0px;
	float: left;
}

@media (max-width: 868px) {

}

@media (max-width: 768px) {
	.nav-icons {
		display: none;
	}

	.nav-text {
		font-size: 0.6em;
		text-align: center;
		display: block;
	}

	.navbar-nav {
		width: 300px;
	}

	.nav-icons:hover {
		display: none;
	}

	.nav-text:hover {
		display: block;
		color: #FFF;
	}

	.navbar-nav li{
		width: 50px;
		height: 30px;
		margin-left: 5px;
	}

	.navbar-nav li a {
		border: none;
	}

	.navbar-nav a:hover {
		width: 50px;
		height: 30px;
		border: none;
		padding-top: 15px;
		background-color: #EF7E17 !important;
	}

	#logo-icon {
		width: 90px;
		height: 90px;
	}

}

/***** For All Pages *****/
.tab-pages {
	width: 100%;
	height: auto;
}

.inner-container {
	position: relative;
}

.section-anchors {
	display: block;
	position: relative;
	top: -100px;
	visibility: hidden;
}

.heading-name {
	font-family: QuicksandBold;
	margin-top: 25px;
	font-weight: bold;
	font-size: 45px;
	color: #EEE;
}

.section-hr {
	width: 50%;
	margin-left: 25%;
}

@media (max-width: 768px) {
	.home-container {
		margin-top: 83px;
	}
}

/***** Main *****/
.home-container {
	position: relative;
	background: #87BF73 url("../img/ski-effects-12.19.2015.jpg") no-repeat;
	background-size: 100% 100%;
	margin-top: 100px;
	height: 100%;
}

.home-inner-container {
}

.home-name {
	font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
	margin-top: 100px;
	font-size: 90px;
	color: #EF7E17;
}

.home-subheading {
	-font-weight: bold;
	font-size: 40px;
	color: #EF7E17;
}

#home-resume {
	display: block;
	margin: auto;
	margin-top: 5px;
	background-color: #EF7E17;
	color: #2B2B2B;
	border: 2px solid #2B2B2B;
	width: 150px;
}

#home-resume:hover {
	background-color: #EEE;
}

@media (max-width: 768px) {
	.home-name {
		font-size: 70px;
	}
}

/***** About *****/
.about-container {
	-background-color: #DB6565;
}

.about-inner-container {
	margin-top: 15px;
}

#about-image-container {
	-width: 30%;
	-height: 50%;
}

#about-image {
	max-width: 100%;
	max-height: 100%;
	margin-top: 2px;
	z-index: 9000;
}

#about-description {
	text-align: left;
}

#about-skills {
	text-align: left;
	font-size: 0.85em;
}

.about-text-headers {
	font-family: QuicksandBold;
}

.about-subinfo-container {
	margin-top: 50px;
	font-size: 0.85em;
}

.about-subinfo-title {
	font-family: QuicksandBold;
	font-size: 1.5em !important;
}

@media (max-width: 1199px) {
	.about-subinfo-container {
		margin-top: 15px;
	}

	#about-skills {
		text-align: center;
	}
}


/***** Projects *****/
.projects-container {
	-background-color: #50A1C8;
}

.projects-cols-container {

}

.projects-box {
	width: 250px;
	height: 200px;
	margin: auto;
	margin-top: 15px; /* filler*/
	padding-top: 120px; /*90px; /* filler */
	vertical-align: middle;
	border-radius: 20px;
	background-color: #FFF;
	cursor: pointer;
}

.projects-box:hover {
	background-color: #FFF;
	transition: .5s background-color;
}

#savr-box {
	background-image: url("../img/projects/Savr/homescreen.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

#goal-box {
	background-image: url("../img/projects/GoalPatrol/home.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

#meme-box {
	background-image: url("../img/projects/MemeMaster/overview.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

#db-box {
	background-image: url("../img/projects/UCSDDB/ucsd_main.jpg");
	background-repeat: no-repeat;
	background-size: contain;
}

/* Projects Modal */
.modal-picture {
	width: 100%;
	height: 100%;
}


/***** Contacts *****/
.contacts-container {
	-background-color: #1ABC9C;
}

.contacts-inner-container {

}

.contact-table {
	display: inline-block;
	margin: 70px 20px;
	height: 75px;
	width: 55px;
}

#github-image {
	border: 1px solid #EEE;
	border-radius: 8px;
	background-color: #FEFEFE;
}

.contact-table img:hover {
	transform: scaleX(1.5) scaleY(1.5);
	-webkit-transform: scaleX(1.5) scaleY(1.5);
	-moz-transform: scaleX(1.5) scaleY(1.5);
	-ms-transform: scaleX(1.5) scaleY(1.5);
	-o-transform: scaleX(1.5) scaleY(1.5);
	transition: 1s background-color;
	box-shadow: 0px 0px 30px #2B2B2B;
	border-radius: 9px;
}