/*
----------------------
KEY
----------------------
Section 1 - Welcome display
Section 2 - About
Section 3 - Education
Section 4 - Coding
Section 5 - Work
Section 6 - Contact
Section 7 - Footer
----------------------
*/
@charset "UTF-8";

/** Fonts **/
@font-face {
	font-family: QuicksandRegular;
	src: url(../fonts/quicksand/Quicksand-Regular.otf);
}

@font-face {
	font-family: QuicksandBold;
	src: url(../fonts/quicksand/Quicksand-Bold.otf);
}

@font-face {
	font-family: BrushScript;
	src: url(../fonts/brushscript.ttf);
}

@font-face {
	font-family: RalewayBold;
	src: url(../fonts/Raleway-Bold.otf);
}

@font-face {
	font-family: Charcoal;
	src: url(../fonts/Charcoal.ttf);
}

/** General **/

* {
	font-family: QuicksandRegular;
	font-size: 1.0rem;
	color: white;
	margin: 0;
	padding: 0;
}

html, body {
    height: 100%;
    min-width: 695px;
}

noscript {
	text-align: center;
	font-weight: bold;
	color: orange;
}

a {
	color: blue;
}

a:visited{
    color: purple;
}

a:active {
    color: red;
}

/*----------------------*/
/** All Sections **/
/*----------------------*/

.sections {
	width: 100%;
	height: 700px;
	overflow: hidden;
}

.heading_wrapper {
	text-align: center;
	width: 100%;
}

.heading_wrapper p {
	font-family: RalewayBold;
	font-size: 3rem;
	color: #F4851C
}

#top_button {
	display: none;
    position: fixed; 
    width: 60px;
    height: 30px;
    top: 10px; 
    left: 10px;
    text-align: center;
    z-index: 10000;
}

#top_button span {
	font-size: 0.7rem; 
	color: #000;
	position: relative;
	top: -5px;
}

#top_button:hover span {
	color: #FFFFFF;
	border-color: #3278BE;
}

/*----------------------*/
/** SECTION 1 **/
/*----------------------*/

#section_1 {
	background: #525252 url(../images/sb_sky_bw.jpg);
	background-size: 100% 700px;
}


#main_wrapper_1 {
	padding: 10px;
	position: relative;
	left: 12.5%;
	top: 25%;
	width: 75%;
	height: 50%;
	text-align: center;
	-border: 2px solid black;
}

#name {
  	font-family: BrushScript;
  	font-size: 60px;
  	font-weight: bold;
}

#major_school {
	font-family: QuicksandRegular;
	font-size: 20px;
}

#name_intro {
	text-align: center;
}

#buttons_intro {
	margin-top: 10px;
	text-align: center;	
	-border: 2px solid black;
}

.button_style {
	font-size: 1rem;
	color: #000000;
	text-decoration: none;
	display: inline-block;
	width: 100px;
	height: 50px;
	padding: 10px;
	border: 2px solid #DDD;
	text-align: center;

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;

	background: #FFFFFF;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#EEE));
	background: -moz-linear-gradient(0% 90% 90deg, #EEE, #FFF);

	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}
.button_style:hover {
	color: #FFFFFF;
	border-color: #3278BE;

	background: #4195DD;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4195DD), to(#003C82));
	background: -moz-linear-gradient(0% 90% 90deg, #003C82, #4195DD);
}
.button_style:active {
	background: #4195DD;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#003C82), to(#4195DD));
	background: -moz-linear-gradient(0% 90% 90deg, #4195DD, #003C82);
}

/*----------------------*/
/** SECTION 2 **/
/*----------------------*/

#section_2 {
	background: #3F4D53 url(../images/bluebg.png);
	background-size: 100% 700px;
}

#main_wrapper_2 {
	padding: 10px;
	position: relative;
	left: 10%;
	top: 5%;
	width: 80%;
	height: 90%;
	-border: 2px solid #000;
}

#about_text {
	width: 45%;
	height: 550px;
	margin: 2%;
	float: left;
	display: table;
	-border: 2px solid #000;
}

#about_text p {
	display: table-cell;
	vertical-align: middle;
}

#about_img {
	height: 550px;
	width: 45%;
	margin: 2%;
	float: left;
	text-align: center;
	-border: 2px solid #000;
}

/*----------------------*/
/** SECTION 3 **/
/*----------------------*/

#section_3 {
	background-color: #999999;
}

#main_wrapper_3 {
	padding: 10px;
	position: relative;
	left: 5%;
	top: 5%;
	width: 90%;
	height: 90%;
	-border: 2px solid #000;
}

#heading_wrapper_3 p {
	color: #B55A04;
}

#school_wrapper {
	width: 100%;
	height: 90%;
	-border: 2px solid #000;
}

#school_name {
	margin-top: 1%;
	width: 540px;
	font-size: 29px;
	font-weight: bold;
	-border: 2px solid #000;
}

#school_text {
	width: 60%;
	max-width: 650px;
	height: 200px;
	margin-top: 1%;
	-border: 2px solid #000;
}	

#school_text p{
	font-size: 0.85rem;
}

#school_coursework {
	width: 60%;
	max-width: 650px;
	height: 250px;
	-border: 2px solid #000;
}

#cs_coursework {
	width: 45%;
	max-width: 300px;
	height: 95%;
	font-size: 0.85rem;
	margin-left: 3%;
	float: left;
	-border: 2px solid black;
}

#cs_coursework span {
	font-family: RalewayBold;
	font-weight: bold;
}

#ms_coursework {
	width: 45%;
	max-width: 300px;
	height: 95%;
	font-size: 0.85rem;
	margin-left: 3%;
	float: left;
	-border: 2px solid black;
}

#ms_coursework span {
	font-family: RalewayBold;
	font-weight: bold;
}

#school_sidebar {
	float: right;
	margin-top: 1%;
	margin-right: 1%;
	width: 240px;
	-border: 2px solid black;
}

#school_sidebar_desc {
	font-size: 0.85rem;
}

#ucsd_picture {
	border-color: #F4851C;
	border-radius: 10px;
	border-width: 3px;
	border-style: solid;
	box-shadow: 0px 0px 10px #000 inset;
}

/*----------------------*/
/** SECTION 4 **/
/*----------------------*/

#section_4 {
	background: #3F4D53 url(../images/bluebg.png);
	background-size: 100% 700px;
}

#main_wrapper_4 {
	padding: 10px;
	position: relative;
	left: 5%;
	top: 5%;
	width: 90%;
	height: 90%;
	-border: 2px solid #000;
}

#coding_wrapper {
	width: 100%;
	height: 90%;
	-border: 2px solid #000;
}

.coding_heading {
  	margin-top: 1%;
  	width: 250px;
  	font-size: 30px;
  	font-weight: bold;
  	-border: 2px solid #000;
}

.tech_wrapper {
	float: left;
}

#tech_skills_text {
	width: 100%;
	max-width: 700px;
	height: 200px;
	margin-top: 1%;
	-border: 2px solid #000;
	float: left;
}

#tech_skills_text p {
	font-size: 0.9rem;
}

.tech_skills_header {
	font-weight: bold;
	color: #F4851C;
}

#projects_text .tech_skills_header:not(:first-child) {
	display: inline-block;
	padding-top: 5px;
}

#projects_text {
	width: 100%;
	max-width: 700px;
	height: 240px;
	margin-top: 1%;
	-border: 2px solid #000;
	float: left;
}

#projects_text p {
	font-size: 0.85rem;
}


/*----------------------*/
/** SECTION 5 **/
/*----------------------*/

#section_5 {
	background-color: #999999;
	
}

#main_wrapper_5 {
	padding: 10px;
	position: relative;
	left: 5%;
	top: 5%;
	width: 90%;
	height: 90%;
	-border: 2px solid #000;
}

#heading_wrapper_5 p {
	color: #B55A04;
}

#work_wrapper {
	width: 100%;
	height: 90%;
	-border: 2px solid #000;
}

.work_name {
  	margin-top: 1%;
  	width: 540px;
  	font-size: 29px;
  	font-weight: bold;
  	-border: 2px solid #000;
}

.work_text {
	width: 60%;
	max-width: 650px;
	height: 200px;
	margin-top: 1%;
	-border: 2px solid #000;
}	

.work_text p{
	font-size: 0.85rem;
}

.work_sidebar {
	float: right;
	margin-top: 1%;
	margin-right: 1%;
	width: 240px;
	-border: 2px solid black;
}

.work_sidebar_desc {
	font-size: 0.85rem;
}

.work_pictures {
	border-color: #F4851C;
	border-radius: 10px;
	border-width: 3px;
	border-style: solid;
	box-shadow: 0px 0px 10px #000 inset;
}

/*----------------------*/
/** SECTION 6 **/
/*----------------------*/

#section_6 {
	background: #3F4D53 url(../images/bluebg.png);
	background-size: 100% 700px;
}

#main_wrapper_6 {
	padding: 10px;
	position: relative;
	left: 5%;
	top: 5%;
	width: 90%;
	height: 90%;
	-border: 2px solid #000;
}

#contact_title {
	font-size: 45px;
	font-weight: bold;
	font-family: Charcoal;
	text-align: center;
	margin-top: 5%;
	color: #41C0FF;
	text-shadow: 0px 0px 30px #A0C4DD;
	-border: 2px solid black;
}

#contact_subheading {
	font-weight: bold;
	text-align: center;
	-border: 2px solid black;
}

#contact_links {
	display: inline-table;
	width: 100%;
	margin-top: 2.5%;
	text-align: center;
	-border: 2px solid black;
}

#contact_links a:hover {
	box-shadow: 0px 0px 30px #00FF00;
    border-radius: 25px;
    border: 0.3em solid #F4851C;
}

#contact_table {
	width: 100%;
}

/*----------------------*/
/** SECTION 7 **/
/*----------------------*/
#section_7 {
	width: 100%;
	height: 20px;
	background-color: #999999;
	background-size: 100% 50px;
}

#main_wrapper_7 {
	padding: 0px;
	position: relative;
	left: 10%;
	top: 5%;
	width: 80%;
	height: 60%;
	text-align: center;
}

#copyright {
	padding-top: 2px;
	font-family: Charcoal;
	font-size: 0.65rem;
	letter-spacing: 2px;
}