/** Main Logo **/
#namelogo {
  padding-top: 8%;
	/*margin-top: 5%;*/
}

html,body {
	height: 100%;
	width: 100%;
}

body {
	background-color: #EEEEEE;
}

* {
  padding: 0;
	margin: 0;
}

/** Navigation Bar **/
#nav nav {
	height: 20%; /* Height of navigation bar */
	position: fixed;
	top: 0px; 
	overflow : hidden;
	width: 100%;
  text-align: center;
}
#nav nav ul {
  list-style-type: none;
  /*background-image: url(../bg_navbar.png);*/
  background-color: #EEEEEE;
  height: 0px; /* Height of navigation block */
  width: 100%;/* Alignment to left or right */
  margin: auto;
}
#nav nav li {
  /*float: left;*/
  display: inline-table; /*Format of cells */
  vertical-align: top;
  width: 50px; /* Width of nav cells - originally 130px*/
  /*height: 60px;*/
}
#nav nav ul li a {
  /*background-image: url(../bg_navdiv.png);*/
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 25px; /* cell link size */
  padding-left: 25px; /* cell link size */
  padding-top: 0px;
  padding-bottom: 0px;
  display: block;
  line-height: 50px; /* Cell height */
  text-decoration: none;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 20px;
  color: #A0C4DD;
  /*-moz-border-radius: 36px / 12px;
	-webkit-border-radius: 36px 12px;
	-webkit-transition: background 1s;
	border-radius: 50px ;*/
  -moz-box-shadow: 2px 2px 6px rgba(0,0,0,1);
  -webkit-box-shadow: 2px 2px 6px rgba(0,0,0,1);
  box-shadow: 2px 2px 6px rgba(0,0,0,1); /*shadow around nav bar*/
}
#nav nav ul a {
  background-color: #DDDDDD;
}
#nav nav ul a:hover {
  color: #000000;
  /*border-left: 10px solid #1c64d1;
  //border-right: 10px solid #5ba3e0;*/
  background-color: #F0F0F0;
}
#nav nav ul a:active {
  color: #F55E63;
}

/** Navigation Bar DROP DOWN **/
#nav nav ul li ul {
  display: none;
  height: auto;
  position: fixed;
  list-style-type: none;
  background-color: #EEEEEE;
  height: inherit;
  width: inherit;/* Alignment to left or right */
  margin: auto;
}
#nav nav ul li:hover ul {
	display: block;
  /*opacity: 1;
	/visibility: visible;*/
}
#nav nav ul li ul li a {
  padding-right: 25px; /* cell size */
  padding-left: 25px; /* cell size */
  padding-top: 0px;
  padding-bottom: 5px;
  display: block;
  line-height: 25px;
  text-align: center;
  font-size: 14px;
  color: #FF8C69; /*#F4851C; */
  text-decoration: none;
  border-radius: 10px 10px 10px 10px;
}
#nav nav ul li ul li {
  float: left; /* List item aligns to left */
  height: 30px; /* Height of drop down list item */
  width: 130px;
}

/*#nav nav ul li:hover ul li a {
    padding-right: 25px; 
  padding-left: 25px; 
  padding-top: 0px;
  padding-bottom: 5px;
  display: block;
	text-align: center;
  font-size: 14px;
	color: #F4851C;
	//padding: 0px 14px;
	text-decoration: none;
}

#nav nav ul li ul li:hover a {
  color: inherit;
	background-color: inherit;
}*/



/** Homepage CSS **/
.homepageinfo {
width: 1100px;
	display: block;
 	padding-top: 10%;
	margin-left: 15%;
	margin-right: 15%;
  margin-bottom: 5%;
}
.homepic {
  display: block;
  box-shadow: 5px 5px 50px #000000;
 
}
.aboutme {
  width: 600px;
	display: block;
  text-align: left;
  float: left;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 20px;
}
.name {
  font-family: "Brush Script MT", cursive;
  font-size: 45px;
  font-weight: bold;
}
.homesubheading {
  font-size: 20px;
}
.hometext {
  font-size: 15px;
}

/** Education CSS **/
.educationinfo {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5%;
}
.eduDescription {
	width: 750px;
	display: block;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 16px;
	text-align: left;
	float: left;
}
.eduPicWrap {
	height: inherit;
	float: left;
	width: 350px;
}
.educationbanners {
	border-color: #F4851C;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  -moz-box-shadow: inset 0px 0px 10px rgba(0,0,0,0.6); 
  -webkit-box-shadow: inset 0px 0px 10px rgba(0,0,0,0.6); 
  box-shadow: inset 0px 0px 10px rgba(0,0,0,1); 
}
.eduHeaderName {
  font-size: 35px;
  font-weight: bold;
}
td.courseTable {
  vertical-align: top;
}
.courseworkHeader {
  font-size: 24px;
  font-weight: bold;
}
.courseworkDescription {
	width: 350px;
	display: block;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 14px;
	text-align: left;
	float: left;
}
.HSDescription {
	display: block;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 14px;
	text-align: left;
	float: left;
}
.HSPicBorders {
  border-color: #FFFFFF;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
float: left;
}
.schoolDescription {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 16px;
}
.HSPics table {
  width: 100%; 
}
.HSPics td { 
  height: 200px;
  vertical-align: top;
  text-align: center;
}

/** Leadership/Experience **/
#explinks {
  width: 90px;
}
.eduSubHeaderName {
  font-size: 25px;
  font-weight: 100;
}

/** Coding **/
#cselinks {
  width: 55px;
}
.cseSubHeaderName {
  font-size: 21px;
  font-weight: 100;
}
.cseSubHeader2 {
  font-size: 15px;
  font-weight: 100;
  font-style: oblique;
}

/** Sports and Orgs **/
.orgSubHeaderName {
  font-size: 21px;
  font-weight: 100;
}

/** Contact Info CSS **/
.contactinfo {
	display: block;
	width: 80%;
 	padding-top: 8%;
	margin-left: 17%;
	margin-right: 25%;
}
.contacttitle {
  font-size: 45px;
  font-weight: bold;
  font-family: Impact, Charcoal, san-serif;
  color: #AAAAAA;
  text-shadow: 0px 0px 30px #A0C4DD;       
}
.contactsubheading {
  font-size: 15px;
  margin-right: 15%;
  float: left;
  font-family: Charcoal, san-serif;
}
.socialmedialinks {
  display: inline-table;
}
.socialmedialinks a:hover {
  box-shadow: 0px 0px 30px #00FF00;
  border-radius: 25px;
  border: 0.3em solid #F4851C;
}
#emailtextform {
  color: #F55E63;
}


/** Header **/
header {
	padding-top: 7%;
	text-align: center;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	color: #F4851C;
	font-size: 3em;

}
/** Footer **/
footer {
  width: 100%
	padding-top: 0%;
  left: 50%;
	text-align: center;
  margin-left: auto;
  margin-right: auto;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	color: #888888;
	font-size: 0.8em;
  padding-bottom: 1.3%;
	bottom: 0px;
}

#homefooter {
  padding-top: 35%;
}

#contactfooter {
  padding-top: 25%;
}

#educationfooter {
  /*padding-bottom: 25%;*/
  padding-top: 95%;
}

#leadershipfooter {
  padding-top: 55%;
}

#csefooter {
  padding-top: 90%;
}

#orgfooter {
  padding-top: 40%;
}

#aboutfooter {
  padding-top: 32%;
}

/* PHP FOR FORM SUBMISSION */
.error {
  color: #FF0000;
  font-size: 0.8em;
}

textarea {
  resize: none;
}




