<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>About - UCSD Dragon Boat</title>
	<link rel="stylesheet" type="text/css" media="screen" href="../css/styles.css">
	<link rel="stylesheet" type="text/css" media="screen" href="../css/bootstrap.css">
</head>
<body>
	<!-- Navigation Container -->
 	<div class="nav-container container">
 		<!--<div class="db-logo-container">
 			<img id="db-logo-img" src="../images/dbLogo.jpg">
 		</div>-->
 		<div class="navigation">
 			<div class="entire-menu">
	 			<label for="show-menu" class="show-menu" style="cursor: pointer"><hr><hr><hr></label>
	 			<input type="checkbox" id="show-menu" role="button">
	 			<ul id="menu">
			 		<li><a href="#">Home</a></li>
			        <li><a href="#">About</a></li>
			        <li><a href="#">Results</a></li>
			        <li><a href="#">Sponsors</a></li>
			        <li><a href="#">Donations</a></li>	
			 		<li><a href="#">Alumni</a></li>
			        <li><a href="#">Recruitment</a></li>
			        <li><a href="#">Photos</a></li> <!-- does "Media" sound better -->
			        <li><a href="#">Contacts</a></li>			
	 			</ul>
	 		</div>
 		</div>
 	</div>
</body>
</html>