/***** KEY *****/
/* 1 Fonts */
/* 2 Entire Document */
/* 3 Header */
/* */



/***************/


/** FONTS **/
@font-face {
    font-family: 'LatoLight';
    src: url('../fonts/Lato-Light.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-Light.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-Light.ttf') format('truetype'); 
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/** BLANK DOCUMENT SETUP **/
* {
  font-family: LatoLight !important;
  font-size: 1.05em;
  color: black;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  background: #FFF;
  text-align: center;
}

/** HEADER **/

/* logo */
.db-logo-container {
	cursor: default;
}
#db-logo-img {
	width: 200px;
	height: 105px;
}

#navigation {
	margin-left: 215px;
	border-color: #FFF !important;
	text-align: center !important;
}

/* bootstrap override - navbar */
.navbar-default {
	background-color: #FFF !important;
	border-color: #FFF !important;
	height: 130px !important;
}

.navbar-header {
	-height: 130px !important;
}
.navbar-nav a {
	color: #000 !important;
}

.navbar-nav{
	margin-top: 20px !important;
	-display: inline-block !important;
	float: none !important;
	vertical-align: bottom !important;
}

.navbar-nav li{
	margin-left: auto !important;
	margin-right: auto !important;
}

.navbar-nav a:hover {
	text-decoration: none !important;
	background-color: #DDD !important;
	border-radius: 5px !important;
	transition: .4s background-color !important;
}

.navbar-nav a:active {
	background-color: #FFF !important;
	color: #444 !important;
	cursor: pointer !important;
}

/* Mobile dropdown */
@media (max-width: 768px) {
	#navigation {
		width: 25%;
		float: right;
	}

	.navbar-nav {
		margin-top: 0 !important;
	}

	.navbar-nav li {
		border-radius: 5px;
		border-top: 1px solid #EEE !important;
		border-bottom: 1px solid #DDD !important;
	}

	#navigation {
		text-align: right;
	}

	.navbar-fixed-top.navbar-absolute {
		position: absolute;
		marign: 0;
	}
}


